body{
 background-color: blanchedalmond; 
 font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
}

h1{
    color: black;
    font-size: 500%;
    font-weight: 1000;
    position:relative;
    top: 100px;
    display: flex;
    justify-content: center;
}

p.today{
    color: grey;
    font-size: 130%;
    display: flex;
    position: relative;
    justify-content: center;
    top: 50px;
}

div.game{
    display: flex;
    position: relative;
    justify-content: center;
    top: 50px;
}

input[type=text]{
    width: 600;
    height: 100%;
    padding: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid grey;
    background-image: url(basketball.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 6%;
    padding-left: 60px;
}